<html>
<title>
	Dust Bin Finder
</title>
<head>
	<link rel="stylesheet" type="text/css" href="myStyle.css">
	
</head>
<body>

	<div data-ui-view=""></div>
	<div class="login" ng-app="myApp"> 

		<div class="loginId">
			<span>Login Id : <input type="textBox" ng-model="loginName" placeholder="Enter Login Id"> </span>
		
		</div>
		<div class="password">
			<span>Password : <input type="textBox" ng-model="password" placeholder="Enter Password"> </span>
		</div>
		<div>
			<input type="submit" value="Submit" ng-click='submit()'>
			<input type="submit" value="Help" ng-click='help()'>
		</div>
		<div>
	</div>
	</div>
</body>
<script src="bower_components/angular/angular.js"></script>
	<script src="indexController.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="App.js"></script>
</html>